<h1>Welcome to Lauren's Homepage</h1>
<p>You can learn more <%= link_to "about me here", about_path %> or click on <%= link_to "contact me", contact_path %> for more information.

</p>

<h3>Lauren Burris is a Human Resources professional with many years of experience in the Bay Area Tech industry.</h3>
<p>
	 With a background in Art History and Business, Lauren marries HR systems, employee operations, and programs seamlessly with constant company communication at all stages of a start-up's growth trajectory.
</p>
