<div id="blog-index">
  <% @posts.each do |post| %>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 individual-post">
        <h2><%= link_to post.title, post, class: "text" %></h2>
        <p><%= link_to post.body, post, class: "text" %><%= link_to "  read more >", post %></p>
       </div>
    </div>
  <% end %>
</div>

<%= link_to 'New Post', new_post_path %>
