<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to "Lauren Burris", root_path, class: "navbar-brand" %>
  </div>

  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "About Me", about_path %></li>
      <li><%= link_to "Contact Me", contact_path %></li>
      <li><%= link_to "Blog", root_path %></li>
    </ul>
  </div>
  
</nav>